@import './../../basicStyle.css';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light);
}

.title {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 30px 0;
}

.description {
  margin-bottom: 30px;
  font-size: 20px;
  letter-spacing: 2px;
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.figure-container {
  fill: transparent;
  stroke: var(--light);
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 20px;
  right: 20px;
}

.wrong-letters-container span {
  font-size: 20px;
}

.letter {
  display: inline-flex;
  font-size: 30px;
  margin: 0 3px;
  width: 30px;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid var(--light);
}

.popup-container {
  position: absolute;
  display: none;
  /* display: flex; */
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  width: 100%;
  height: 100%;
}

.final-message {
  color: var(--dark);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.play-button {
  font-family: inherit;
  text-transform: uppercase;
  border: 3px solid var(--dark);
  background-color: transparent;
  color: var(--dark);
  letter-spacing: 2px;
  padding: 5px 10px;
  margin-top: 20px;
}

.play-button:hover {
  background-color: var(--dark);
  color: var(--light);
}

.notification-container {
  margin-top: 20px;
  opacity: 0;
}

.showAndHide {
  animation: showAndHide 2s ease;
}

@keyframes showAndHide {
  50% {opacity: 1;}
  100% {opacity: 0;}
}