:root {
  --light: #01fe03;
  --dark: #191919;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "FFFForward";

  src: url("./fonts/FFFFORWA.woff") format("woff"), 
       url("./fonts/FFFFORWA.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}

button {
  outline: none;
  cursor: pointer;
}

body {
  font-family: 'FFFForward', Courier, monospace;
  background-color: var(--dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-menu {
  display: block;
  width: 380px;
  color: #01fe03;
  font-size: 40px;
  text-decoration: none;
  text-align: center;
  margin: 30px auto 0 auto;
}

.main-menu:hover {
  outline: 2px solid #01fe03;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; 
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;          
}