@import '../../basicStyle.css';

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  position: relative;
  color: var(--light);
  letter-spacing: 4px;
  margin: 30px auto 60px auto;
  text-align: center;
  line-height: 70px;
  text-transform: uppercase;
}

.title::after,
.title::before {
  content: '';
  position: absolute;
  top: 87px;
  right: -65px;
  width: 150px;
  height: 35px;
  background: no-repeat url('img/bullet-01.svg');
  background-size: contain;
}

.title::before {
  top: 87px;
  left: -75px;
  transform: scaleX(-1);
}

.game-container {
  position: relative;
  margin: 0 auto;
  width: 500px;
  min-height: 300px;
  /* border: 3px solid var(--light); */
}

.skeleton {
  position: absolute;
  top: 83px;
  left: 70px;
  width: 350px;
}

.enemy {
  width: 100%;
  background-size: contain;
}

#dead_eyes {
  opacity: 0;
}

.revolver1,
.revolver2 {
  position: absolute;
  width: 300px;
}

#bum1,
#bum2 {
  opacity: 0;
}

.revolver1 {
  bottom: 68px;
  left: -260px;
  transform: rotate(-45deg);
}

.revolver2 {
  bottom: 68px;
  right: -250px;
  transform: scaleX(-1) rotate(-45deg);
}

.text-bullets {
  width: 400px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 180px;
  left: 55px;
}

.bullet {
  margin-right: 5px;
  position: relative;
}

.bullet-letter {
  position: absolute;
  color: var(--dark);
  top: 23px;
  left: 5px;
  font-size: 24px;
}

.bullet-img {
  width: 30px;
}

.word {
  position: absolute;
  width: 350px;
  height: 50px;
  bottom: 100px;
  right: 70px;
  border: 3px solid var(--light);
  outline: none;
  background-color: var(--dark);
  color: var(--light);
  font-family: inherit;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px 10px;
  letter-spacing: 3px;
  text-align: center;
}

.score,
.time {
  position: absolute;
  bottom: 36px;
  right: 90px;
  color: var(--light);
  text-transform: uppercase;
  font-size: 20px;
}

.time {
  left: 60px;
}

.lives {
  position: absolute;
  display: flex;
  height: 80px;
  justify-content: space-between;
  flex-direction: column;
  color: red;
  top: 120px;
  right: 218px;
  z-index: 100;
  text-align: center;
  text-transform: uppercase;
}

.lives__value {
  font-size: 25px;
  letter-spacing: 3px;
  color: var(--dark);
}

.lives__heart {
  background-color: var(--dark);
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: -8px;
  transform: rotate(-45deg);
  width: 30px;
}

.lives__heart:before,
.lives__heart:after {
  content: "";
  background-color: var(--dark);
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.lives__heart:before {
  top: -15px;
  left: 0;
}

.lives__heart:after {
  left: 15px;
  top: 0;
}