@import './../../basicStyle.css';

.inputBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
  color: var(--light);
  text-transform: uppercase;
}

.inputBox h2 {
  font-size: 50px;
  letter-spacing: 3px;
  margin: 20px auto 40px auto;
}

.password {
  font-size: 30px;
  background-color: var(--light);
  font-family: 'FFFForward', Courier, monospace;
  border: none;
  padding: 20px 80px 20px 10px;
  color: var(--dark);
  width: 600px;
  margin-bottom: 60px;
}

.password::selection {
  background-color: var(--dark);
  color: var(--light);
}

.button {
  font-family: 'FFFForward', Courier, monospace;
  border: 2px solid var(--light);
  border-bottom: 18px solid var(--light);
  background-color: var(--dark);
  color: var(--light);
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline 3px;
}

.pressed {
  animation: pressed .4s linear;
}

.inputWrapper {
  position: relative;
}

.icon {
  position: absolute;
  color: var(--dark);
  font-size: 50px;
  right: 10px;
  top: 20px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .2s linear;
}

.icon:hover {
  opacity: 1;
  transition: all .2s linear;
}

.copyMessage {
  position: absolute;
  left: 33%;
  bottom: 10%;
  opacity: 0;
}

.copied {
  animation: showAndHide 1s linear;
}

@keyframes showAndHide {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pressed {
  0% {
    transform: translateY(0);
    border-bottom: 18px solid var(--light);
  }
  50% {
    transform: translateY(20px);
    border-bottom: 2px solid var(--light);
  }
  100% {
    transform: translateY(0);
    border-bottom: 18px solid var(--light);
  }
}